.card-title span {
    margin-left: 185px;
    font-size: 22px;
    color: lightgray
}
.pulseCard {
    width:110px;
    min-height: 160px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
}
.pulseText .mood {
  font-weight: bold;
}
.emonji {
    position: absolute;
    left: 30%;
    width: 50px;
    height: 50px;
    top: -25px;
    display: inline-block;
}
.lgf-progress-text .emonji{
  background-size: 25%;
  top:14%;
  left:38%;
  background-repeat:no-repeat ;
}
.lgf-progress-text h4{
  margin-top: 70px;
}
.lgf-progress-text h4 i{
  font-size: .3em;
  color: red;
  font-weight: bold;
}
.clickhere {
  color:blue;
  font-size: .85em;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}
.wave {
    width:100%;
    display: inline-block;
    position: absolute;
    bottom:0px;
    height: 50px;
    transition: height .7s ease-out
}
.stronglydisagree {
    border-color: #D80000;    
}
.stronglydisagree span.emonji {
    background-image: url(/chatbot-ui/images/angry-full.svg);
}
.stronglydisagree span.wave {
    background-image: url(/chatbot-ui/images/angry-wave.png);
}
.disagree {
    border-color: #FF5607;    
}
.disagree span {
    background-image: url(/chatbot-ui/images/sad-full.svg);
}
.disagree span.wave {
    background-image: url(/chatbot-ui/images/sad-wave.png);
}
.somewhatdisagree {
    border-color: #FF9800;    
}
.somewhatdisagree span {
    background-image: url(/chatbot-ui/images/ok-full.svg);
}
.somewhatdisagree span.wave {
    background-image: url(/chatbot-ui/images/ok-wave.png);
}
.somewhatagree {
    border-color: #FFC100;    
}
.somewhatagree span {
    background-image: url(/chatbot-ui/images/happy-full.svg);
}
.somewhatagree span.wave {
    background-image: url(/chatbot-ui/images/happy-wave.png);
}
.agree {
    border-color:#c5d647;    
}
.agree span {
    background-image: url(/chatbot-ui/images/great-full.svg);
}
.agree span.wave {
    background-image: url(/chatbot-ui/images/great-wave.png);
}
.stronglyagree {
    border-color: #79c267;    
}
.stronglyagree span {
    background-image: url(/chatbot-ui/images/strongly-agree.svg);
}
.stronglyagree span.wave {
    background-image: url(/chatbot-ui/images/strongly-agree-wave.png);
}
.pulseText {
    text-align: center;
    width: 100%;
}
.barChart {
    width: 100%;
}
.newset {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin-left: 7px;
    text-align: center;
}.newset span {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.progress-value {
    padding-bottom: 15px;
}
.newset span + span {
    font-size: .75rem;
    text-align: center;
    line-height: 20px;
}
#NavLinks-Attrition ul {
    border-bottom: 0.2rem solid #fff;;
  }

  #NavLinks-Attrition ul  li {
    padding-right: 0.5rem;
  }

  #NavLinks-Attrition ul  li  a.nav-link {
    color: #8b8b8b!important;
    border-bottom: 0.4rem solid #fff;
  }

  #NavLinks-Attrition ul  li  a.nav-link.active {
    color: #876cfe!important;
    border-bottom: 0.4rem solid #876cfe!important;
    background-color: #fff;
  }
  #attrition-predictor-type ul li {
    color: #000;
  }
  #attrition-predictor-type ul li small {
    font-size:.8em;
  }
  #attrition-predictor-type ul li:hover h5, #attrition-predictor-type ul li:hover i {
    color: #03767e;
  }
  .critical-emp-div-1 > b {
    font-size: 2.4rem;
    color: #003696;
    
  }
  .critical-emp-div-2 > b {
    font-size: 2.4rem;
    color: #fb609d;
  }
  .critical-emp-div-1 p, .critical-emp-div-2 p {
    font-size: 1rem;
  }
  .grade-wise-div-1 > h5 {
    font-weight: 900;
    color: #fb609d;
  }
  .grade-wise-div-2 > h5 {
    font-weight: 900;
    color: #003696;
  }
  .grade-wise-div-1 p, .grade-wise-div-2 p {
    font-size: 1rem;
    font-weight: 700;
  }
  .business-unit-text > div > p {
    font-size: 0.8rem;
    padding: 1rem 1rem 1rem 3rem;
    align-self: center;
  }
  .business-unit-text > div > p > b {
    color: #fb609d;
    font-weight: 700;
  }
  .business-unit-text small {
    font-weight: 700;
  }
  .business-unit-text a {
    font-size: 0.75rem;
  }
  .table th{text-transform: uppercase;}
  .table td, .table th {
    border: 0 !important;
    font-size: 1.25rem !important;
  }
  .pagination {
    font-size: 0.6rem;
  }
  .profile-icon-svg {
      background:url(/chatbot-ui/images/profile.svg);
  }
  .a{fill:#eb4a8a;}.b{fill:#003696;}.c{fill:#ec9e00;}
  .a-icon2{fill:#fe721c;}.b-icon2{fill:#ffca44;}



  .percentage-card {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.0392157);
  }
  .emp-card-1 {
    background-color: #f3cfcb;
    border-radius: 8px;
    margin-bottom: 30px;
    -ms-box-shadow: 0 16px 40px 0 rgba(0,0,0,.0392157);
    -o-box-shadow: 0 16px 40px 0 rgba(0,0,0,.0392157);
    box-shadow: 0 16px 40px 0 rgba(0,0,0,.0392157);
  }
  .emp-card-1 .recharts-wrapper, .emp-card-2 .recharts-wrapper {
    margin: 0 auto
  }
  .emp-card-2 {
    background-color: #f1e9ce;
    border-radius: 8px;
    margin-bottom: 30px;
    -ms-box-shadow: 0 16px 40px 0 rgba(0,0,0,.0392157);
    -o-box-shadow: 0 16px 40px 0 rgba(0,0,0,.0392157);
    box-shadow: 0 16px 40px 0 rgba(0,0,0,.0392157);
  }
  .emp-card-text > p {
    color: #e36a1f;
    font-weight: 700;
    font-size: 1.8rem;
  }
  .emp-card-text .emp-card-description > p{
    font-size: 1.3rem;
  }
  .emp-card-description small{
    font-size: 1.3rem;
  }
  .emp-card-text .emp-card-description > p > b, .emp-card-description small > b {
    color: #e36a1f;
  }
  .emp-card-text > div > a {
    font-size: 0.75rem;
  }
  .emp-loader-text {
    padding: 0 1rem;
    font-size: 1rem;
  }
  
  
  .lgf-progress  {
       width: 150px;
       height: 150px;
       line-height: 150px;
       background: none;
       margin: 0 auto;
       box-shadow: none;
       position: relative;
  }
  .lgf-progress-small  {
       width: 70px !important;
       height: 70px !important;
   }
  
   .lgf-progress:after {
       content: "";
       width: 100%;
       height: 100%;
       border-radius: 50%;
       border: 15px solid #eee;
       position: absolute;
       top: 0;
       left: 0;
  }
  .lgf-progress-small:after {
    border: 7px solid #eee;
  }
  .lgf-progress > span {
       width: 50%;
       height: 100%;
       overflow: hidden;
       position: absolute;
       top: 0;
       z-index: 1;
  }
  .lgf-progress-text{
    margin-top: -10% !important;
    line-height: 0;
    font-weight: 700;
  }
  .lgf-progress-text h6 {
    padding: 0 !important;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 700 !important;
    margin: 0 !important;
  }
  
  .lgf-progress-small .lgf-progress-text h6 {
    font-size: 1.2rem;
    font-weight: 600 !important;
  }
  
  .lgf-progress-text span {
      font-size: 0.6rem !important;
      width: 100%;
  }
  .emp-card-1 .lgf-progress-text span, .emp-card-2 .lgf-progress-text span{
    font-size: 1rem !important;
  }
   .lgf-progress .lgf-progress-left {
       left: 0;
  }
   .lgf-progress .lgf-progress-bar {
       width: 100%;
       height: 100%;
       background: none;
       border-width: 15px;
       border-style: solid;
       position: absolute;
       top: 0;
  }
  .lgf-progress-small .lgf-progress-bar {
    border-width: 7px;
  }
  
  .lgf-progress .lgf-progress-bar.lgf-progress--success {border-color: #92fb9f;}
  .lgf-progress .lgf-progress-bar.lgf-progress--orange {border-color: #fe721c;}
  .lgf-progress .lgf-progress-bar.lgf-progress--warning {border-color: #ffca44;}
  .lgf-progress .lgf-progress-bar.lgf-progress--blue {border-color: #003696;}
   .lgf-progress .lgf-progress-left .lgf-progress-bar {
       left: 100%;
       border-top-right-radius: 75px;
       border-bottom-right-radius: 75px;
       border-left: 0;
       -webkit-transform-origin: center left;
       transform-origin: center left;
  }
   .lgf-progress .lgf-progress-right {
       right: 0;
  }
   .lgf-progress .lgf-progress-right .lgf-progress-bar {
       left: -100%;
       border-top-left-radius: 75px;
       border-bottom-left-radius: 75px;
       border-right: 0;
       -webkit-transform-origin: center right;
       transform-origin: center right;
  }
   .lgf-progress .lgf-progress-value {
       display: flex;
       border-radius: 50%;
       font-size: 36px;
       text-align: center;
       line-height: 20px;
       align-items: center;
       justify-content: center;
       height: 100%;
       font-weight: 300;
  }
   .lgf-progress .lgf-progress-value div {
       margin-top: 10px;
  }
   .lgf-progress .lgf-progress-value span {
       font-size: 12px;
  }
  /* This for loop creates the necessary css animation names Due to the split circle of lgf-progress-left and lgf-progress right, we must use the animations on each side. */
   .lgf-progress[data-percentage="10"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-1 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="10"] .lgf-progress-left .lgf-progress-bar {
       animation: 0;
  }
   .lgf-progress[data-percentage="20"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-2 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="20"] .lgf-progress-left .lgf-progress-bar {
       animation: 0;
  }
   .lgf-progress[data-percentage="30"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-3 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="30"] .lgf-progress-left .lgf-progress-bar {
       animation: 0;
  }
   .lgf-progress[data-percentage="40"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-4 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="40"] .lgf-progress-left .lgf-progress-bar {
       animation: 0;
  }
   .lgf-progress[data-percentage="50"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-5 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="50"] .lgf-progress-left .lgf-progress-bar {
       animation: 0;
  }
   .lgf-progress[data-percentage="60"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-5 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="60"] .lgf-progress-left .lgf-progress-bar {
       animation: loading-1 1.5s linear forwards 1.5s;
  }
   .lgf-progress[data-percentage="70"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-5 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="70"] .lgf-progress-left .lgf-progress-bar {
       animation: loading-2 1.5s linear forwards 1.5s;
  }
   .lgf-progress[data-percentage="80"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-5 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="80"] .lgf-progress-left .lgf-progress-bar {
       animation: loading-3 1.5s linear forwards 1.5s;
  }
   .lgf-progress[data-percentage="90"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-5 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="90"] .lgf-progress-left .lgf-progress-bar {
       animation: loading-4 1.5s linear forwards 1.5s;
  }
   .lgf-progress[data-percentage="100"] .lgf-progress-right .lgf-progress-bar {
       animation: loading-5 1.5s linear forwards;
  }
   .lgf-progress[data-percentage="100"] .lgf-progress-left .lgf-progress-bar {
       animation: loading-5 1.5s linear forwards 1.5s;
  }
   @keyframes loading-1 {
       0% {
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
      }
       100% {
           -webkit-transform: rotate(36);
           transform: rotate(36deg);
      }
  }
   @keyframes loading-2 {
       0% {
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
      }
       100% {
           -webkit-transform: rotate(72);
           transform: rotate(72deg);
      }
  }
   @keyframes loading-3 {
       0% {
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
      }
       100% {
           -webkit-transform: rotate(108);
           transform: rotate(108deg);
      }
  }
   @keyframes loading-4 {
       0% {
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
      }
       100% {
           -webkit-transform: rotate(144);
           transform: rotate(144deg);
      }
  }
   @keyframes loading-5 {
       0% {
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
      }
       100% {
           -webkit-transform: rotate(180);
           transform: rotate(180deg);
      }
  }
   .lgf-progress {
       margin-bottom: 1em;
  }
  
  .lgf-progress.width-20 {
       width: 120px !important;
       height: 120px !important;
  }
  .lgf-progress.width-20 .lgf-progress-text h6 {
    font-size: 0.9rem !important;
  }
  .header-title {
    width:100%;
  }
  .lgf-progress.width-20 .lgf-progress-text span {
    font-size: 0.5rem !important;
  }
  
.gender-section {
 text-align: center;
 font-size: 1.5em;
 font-weight: bold;
 margin: 35px 0;
 line-height: .65em;
    align-items: center;
}
.predictor-type {
  width: 100%
}

.gender-section img {
  height: 70px;
}
.gender-section div span {
  color: blue;
  font-size: .65em;
  display: block;
  margin: 10px 0 0;
}
.predictor-type li {
  cursor: pointer;
  padding:2px 1px;
  width: 33%;
  float: left;
}
.predictor-type li.active {
  background:#f3cfcb;
  color:blue;
}
.custom-tooltip {
  background: #fff;
  padding: 7px;
  border:1px solid #c5d647
}
.custom-tooltip p{
  font-size: 13px;
  margin: 7px 0;
}
.custom-tooltip .label {
  color: #c5d647; font-size: 18px; font-weight: bold;
}
.custom-tooltip .red{
  color:#D80000
}